<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Reset password</title>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>

  <!-- use the font -->
  <style>
    body {
      font-family: 'Roboto', sans-serif;
      font-size: 48px;
    }
  </style>
</head>
<body>
<p th:text="${'Hei ' + name + '!'}"></p>
<p th:text="${'Du har nylig spurt om å tilbakestille passordet'}"></p>
<a th:href="${url}">Du kan skifte passordet ditt her</a>
<p></p>
<p></p>
<p>Med vennlig hilsen</p>
<p>Gidd</p>


</body>
</html>